::-webkit-scrollbar {
  display: none;
}
.feed {
  position: relative;
  display: flex;
  flex-direction: row;
  .left-feed {
    margin: 7rem;
  }
  .right-feed {
    margin: 1rem;
    width: 30vw;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    // overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  .middle-feed {
    .stick {
      padding-top: 0.5rem;
      position: sticky;
      display: block;
      top: 0;
      font-size: 2rem;
      font-weight: bold;
      background-color: #00238c;
      z-index: 1000;
      text-align: center;
      color: white;
    }
    width: 50vw;
    display: flex;
    flex-direction: column;
    // overflow-x: hidden;
    img {
      position: relative;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
    .community {
      display: flex;
      flex-wrap: wrap;
      input {
        border: solid 1px black;
        padding: 0.5rem;
        margin: 0.25rem;
      }
    }
    .filters {
      .clear {
        width: 50%;
      }
      span {
        border-radius: 0.15rem;
        background-color: #fec737;
        font-weight: bold;
        padding: 0.25rem;
        /* top,right,bottom,left */
        margin: 1rem;
        text-align: center;
        padding: 0.25rem;
      }
      button {
        background-color: grey;
        font-weight: bold;
        padding: 0.25rem;
        /* top,right,bottom,left */
        margin: 1rem 0rem 1rem 0rem;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.admin {
    border: 2px solid lightblue;
  .header {
    text-align: center;
    background: #00238c;
    color: white;
  }
  .sticky {
    position: sticky;
    display: block;
    top: 0;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    z-index: 1000;
  }

  input {
    background-color: #dbe0ee;
    margin: 1rem;
    padding: 0.25rem;
    font-weight: bold;
  }
  .bottom {
    margin: 1rem;
    // border-left: 3px solid lightgray;
    // padding-left: 10px;
    .verify1 {
      .name {
        font-size: 1rem;
      }
      .btn1 {
        font-size: 0.7rem;
        background-color: green;
        margin: 0.1rem;
        padding: 4px;
        color: white;
        font-weight: bold;
      }
      .btn2 {
        font-size: 0.7rem;
        background-color: red;
        margin: 0.1rem;
        padding: 4px;
        color: white;
        font-weight: bold;
      }
    }
  }
  img {
    position: relative;
    top: 0;
    left: 0;
    position: relative;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
}

.comment {
  position: relative;
  display: flex;
  margin: 1rem;
  .comment-left {
    margin-right: 0.5rem;
    position: relative;
    .img-comment {
      position: relative;
      border-radius: 100%;
      border: solid black;
      width: 2rem;
      height: 2rem;
    }
  }
  .comment-right {
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    text-align: left;
  }
  img {
    position: relative;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
}

.create-comment {
  position: relative;
  display: flex;
  border-bottom: 2px solid lightblue;
  .left-image {
    img {
      position: relative;
      top: 0;
      left: 0;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
  }
  .right-input {
    button {
      background-color: #1977f1;
      color: white;
      padding: 0 7px;
      height: 35px;
    }
    form {
      position: relative;
      width: 100%;
      display: flex;
      textarea {
        padding: 0 15px;
        height: 50px;
        border: 1px solid lightsteelblue;
        border-radius: 5px;
        margin-bottom: 3px;
        margin-right: 5px;
      }
    }
  }
}

.post {
  background-color: #dbe0ee;
  margin-bottom: 2rem;
  border-color: solid black 1px;
  display: flex;

  .post-me {
    margin: 1rem;
  }
  .post-body {
    width: 100%;
    .question {
      // padding: 1rem;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-word;
      width: 100%;
    }
    .post-img {
      border-radius: 0%;
      border: none;
      height: 8rem;
      width: 8rem;
    }
    .bottom-bar {
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      justify-content: space-around;
      width: 100%;
      span {
        .modal {
          background-color: #dbe0ee;
          margin-left: 2rem;
          margin-right: 2rem;
          border-color: solid black 1px;
        }
      }

      .fa-heart {
        background-color: #dbe0ee;
      }
      .fa-heart:hover {
        cursor: pointer;
        color: red;
      }
      .fa-bookmark:hover {
        cursor: pointer;
        color: grey;
      }
      .fa-comment:hover {
        cursor: pointer;
        color: grey;
      }
      .fa-trash:hover {
        cursor: pointer;
      }
    }
  }
}
.react-responsive-modal-modal {
  text-align: center;
  padding: 2rem;
  overflow: hidden;
  @media screen and (min-width: 650px) {
    min-width: 500px;
  }
  .modal {
    display: flex;
    align-items: space-between;
    .modal-left {
      // background-color: red;
      img {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
      }
      padding: 1rem;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-word;
      width: 30%;
      border-right: 3px dotted lightblue;
    }
    .modal-right {
      z-index: 1;
      // background-color: green;
      img {
        z-index: 2;
        margin-right: 5px;
      }
      padding: 1rem;
    }
  }
}
.popupForm {
  input {
    margin: 1rem;
    border: 1px dotted black;
    padding: 5px;
    border-radius: 5px;
    min-width: 80%;
  }
}
.create-post {
  position: relative;
  display: flex;
  background-color: #dbe0ee;
  margin-bottom: 2rem;
  border-color: solid black 1px;
  .create-left {
    margin: 2rem;
    img {
      position: relative;
      top: 0;
      left: 0;
      position: relative;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
  }
  .create-right {
    textarea {
      // background-color: #dbe0ee;
      width: 40vw;
      padding: 1rem;
      margin-top: 1rem;
    }
    button {
      background-color: #00238c;
      color: white;
      padding: 0.5rem;
      font-size: 0.75rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}

.user {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #dbe0ee;
}

@media screen and (max-width: 1061px) {
  .feed {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    .left-feed {
      margin: 2.5rem;
    }
    .middle-feed {
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        position: relative;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
      }
      .community {
        display: flex;
        flex-wrap: wrap;
        input {
          border: solid 1px black;
          padding: 0.5rem;
          margin: 0.25rem;
        }
      }

      .filters {
        span {
          border-radius: 0.15rem;
          background-color: #fec737;
          font-weight: bold;
          padding: 0.25rem;
          /* top,right,bottom,left */
          margin: 1rem;
          text-align: center;
          padding: 0.25rem;
        }
        button {
          border-radius: 0.15rem;
          background-color: grey;
          font-weight: bold;
          padding: 0.25rem;
          /* top,right,bottom,left */
          margin: 1rem 0rem 1rem 0rem;
          width: 100%;
          text-align: center;
        }
      }
    }
    .right-feed {
      display: none;
    }
  }

  .admin {
    display: none;
    .header {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      margin: 1rem;
    }
    .box {
      border: 1px solid;
      margin: 1rem;
      padding: 1rem;
    }
    img {
      position: relative;
      top: 0;
      left: 0;
      position: relative;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
  }

  .comment {
    position: relative;
    display: flex;
    margin: 1rem;
    .comment-left {
      position: relative;
      .img-comment {
        position: relative;
        border-radius: 100%;
        border: solid black;
        width: 2rem;
        height: 2rem;
      }
    }
    .comment-right {
      position: relative;
      text-align: left;
    }
    img {
      position: relative;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
  }

  .create-comment {
    position: relative;
    display: flex;
    border-bottom: 2px solid lightblue;
    .left-image {
      img {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
      }
    }
    form {
      position: relative;
      width: 100%;
    }
    .right-input {
      button {
        background-color: #fec737;
      }
      form {
        position: relative;
        width: 100%;
      }
    }
  }
  .post {
    background-color: #dbe0ee;
    margin-bottom: 2rem;
    border-color: solid black 1px;
    display: flex;
    .post-me {
      margin-right: 1rem;
    }
    .post-body {
      width: 100%;
      .post-img {
        border-radius: 0%;
        border: none;
        height: 8rem;
        width: 8rem;
      }
      .bottom-bar {
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        span {
          .modal {
            background-color: #dbe0ee;
            margin-left: 2rem;
            margin-right: 2rem;
            border-color: solid black 1px;
          }
        }

        .fa-heart {
          background-color: #dbe0ee;
        }
        .fa-heart:hover {
          cursor: pointer;
          color: red;
        }
        .fa-bookmark:hover {
          cursor: pointer;
          color: grey;
        }
        .fa-comment:hover {
          cursor: pointer;
          color: grey;
        }
        .fa-trash:hover {
          cursor: pointer;
        }
      }
    }
  }

  .create-post {
    position: relative;
    display: flex;
    background-color: #dbe0ee;

    margin-bottom: 2rem;
    border-color: solid black 1px;
    .create-left {
      margin-left: 2rem;
      margin-right: 2rem;
      img {
        position: relative;
        top: 0;
        left: 0;
        position: relative;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
      }
    }
    .create-right {
      input {
        // background-color: #dbe0ee;
        width: 40vw;
        padding: 1rem;
      }
    }
  }

  .user {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #dbe0ee;
  }
}
