.profile {
  .profile-top {
    display: flex;

    .profile-left {
      img {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 100%;
        width: 9rem;
        height: 9rem;
      }
    }
    .profile-right {
      margin: 2rem;
      position: relative;
    }
  }
  .profile-down {
    button {
      border-radius: 0.25rem;
      background-color: #fec737;

      padding: 0.5rem;
      margin: 1rem 0rem 1rem 0rem;
      text-align: center;
    }
  }
}
.btn {
        top: 0;
        position: relative;
        right: 0;
        border-radius: 0.25rem;
        background-color: #2a4fbe;
        font-weight: bold;
        padding: 0.5rem;
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
        font-size: 1rem;
        color: white;
        box-shadow: 1px 4px 3px #3d63d6;
      }
